// Bulma color helpers extras
// doc: https://bulma.io/documentation/helpers/color-helpers/

.has-text-fire {
  color: $fire !important;
}

.has-text-charcoal {
  color: $charcoal !important;
}

.has-background-fire {
  background: $fire !important;
}

.has-background-charcoal {
  background: $charcoal !important;
}
