// Bulma hero customizations
// docs: https://bulma.io/documentation/layout/hero/

.hero.is-fullheight,
.hero.is-fullheight-with-navbar {
  &.has-footer-peek,
  &.is-almost-fullheight {
    min-height: calc(100vh - #{$navbar-height} - #{$fh-hero-peek-height});
  }
}

.hero.has-columns .columns {
  margin: 2rem;
}

.hero.has-media-background {
  // set `background-image: url(...);` somewhere else
  background-position: center;
  background-size: cover;

  .hero-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  }

  .title,
  .subtitle {
    color: white;
  }
}

// -- hero-related elements ----------------------------------------------------

.hero-video {
  max-height: inherit;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-separator {
  width: 45vh;
  height: 0.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
