// Bulma navbar customizations
// docs: https://bulma.io/documentation/components/navbar

.navbar {
  font-family: $family-do-hyeon;
}

.navbar-brand {
  // simulates `after-dot($fire)` from `.navbar-menu`
  .navbar-item:hover span {
    color: $fire;
  }

  > .navbar-burger:hover {
    background-color: transparent;
  }
}

.navbar-menu .navbar-item {
  &:hover {
    @include after-dot(0.4rem, $fire);
  }

  &.is-current-section {
    @include after-dot(0.4rem);
  }
}

.navbar-item.is-current-section {
  // override $navbar-item-hover-color in all cases
  &, &:focus, &:focus-within, &:hover, &.is-active {
    color: $fire;
  }
}
