// -- project vars -------------------------------------------------------------

$fire: #e51d47;
$charcoal: #2e2e3a;
$family-open-sans: 'Open Sans', sans-serif;
$family-do-hyeon: 'Do Hyeon', sans-serif;

// the height a full height hero doesn't take at the bottom of the viewport,
// letting see the peek of the next section or the `.footer-peek`
$fh-hero-peek-height: 3rem;

// -- bulma vars ---------------------------------------------------------------

// doc: https://bulma.io/documentation/customize/variables/
// colors
$danger: $fire;
$dark: $charcoal;
$text: $charcoal;
$link: $charcoal;
$link-hover: $fire;
$primary: $fire;
// fonts
$family-sans-serif: $family-open-sans;
$size-7: 0.85rem;

// doc: https://bulma.io/documentation/customize/variables/
$radius: 2px;
$radius-large: 3px;

// doc: https://bulma.io/documentation/components/navbar
$navbar-height: 4rem;
$navbar-background-color: $charcoal;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: 'transparent';

// doc: https://bulma.io/documentation/elements/box/
$box-padding: 2rem;
$box-shadow-size: 10px;
$box-shadow: $box-shadow-size $box-shadow-size 0px 0px $charcoal;

// https://bulma.io/documentation/layout/hero/
$hero-body-padding: 3rem 0.75rem;

// doc: https://bulma.io/documentation/elements/title
$title-family: $family-do-hyeon;
$title-color: $fire;
$title-weight: 400;
$subtitle-color: $charcoal;

// -- FIXME: bulma initial variables -------------------------------------------
//    pre-definition of bulma initial variables and mixins so that they can be
//    used in partials.  bulma is currently imported from after common.scss and
//    its variables are not yet available here.  remove this section once bulma
//    can be imported before partials.

// doc: https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass
$tablet: 769px !default;

// source: https://github.com/jgthms/bulma/blob/master/sass/utilities/mixins.sass#L81-L83
@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

// -- mixins -------------------------------------------------------------------

@import "mixins";

// -- partials -----------------------------------------------------------------
//    import partials after defining vars/mixins so that they are available in
//    partials.

@import "box";
@import "color";
@import "fontface";
@import "footer";
@import "hero";
@import "navbar";

// -- common stuff -------------------------------------------------------------
//    stuff that is too early to over-engineer.

html, body {
  height: 100%;
}

body {
  // `min-height` in a `flex` container: https://stackoverflow.com/a/45905131/1901977
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-do-hyeon
}

p + p {
  margin-top: 1rem;
}

.is-family-do-hyeon {
  font-family: $family-do-hyeon;
}

.is-width-auto {
  width: auto !important;
}

.is-height-100p {
  height: 100% !important;
}

// apply safe are on screens with notch
.container {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// progress customizations
// docs: https://bulma.io/documentation/elements/progress/
.progress.is-smallest {
  height: 0.25rem;
}

// remove default negative margins and simulate behavior by removing paddings
// https://github.com/jgthms/bulma/issues/766#issuecomment-305248614
.columns.mx-0 {
  .column:first-of-type {
    padding-left: 0;
  }

  .column:last-of-type {
    padding-right: 0;
  }
}

// -- spacing utils ------------------------------------------------------------

@include mobile {
  .py-5-mobile {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
