// -- project vars -------------------------------------------------------------

$fire: #e51d47;
$charcoal: #2e2e3a;
$family-open-sans: 'Open Sans', sans-serif;
$family-do-hyeon: 'Do Hyeon', sans-serif;

// the height a full height hero doesn't take at the bottom of the viewport,
// letting see the peek of the next section or the `.footer-peek`
$fh-hero-peek-height: 3rem;

// -- bulma vars ---------------------------------------------------------------

// doc: https://bulma.io/documentation/customize/variables/
// colors
$text: $charcoal;
$link: $charcoal;
$link-hover: $fire;
$danger: $fire;
// fonts
$family-sans-serif: $family-open-sans;

// doc: https://bulma.io/documentation/customize/variables/
$radius: 2px;
$radius-large: 3px;

// doc: https://bulma.io/documentation/components/navbar
$navbar-height: 4rem;
$navbar-background-color: $charcoal;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: 'transparent';

// doc: https://bulma.io/documentation/elements/box/
$box-padding: 2rem;
$box-shadow: 10px 10px 0px 0px $charcoal;

// doc: https://bulma.io/documentation/elements/title
$title-family: $family-do-hyeon;
$title-color: $fire;
$title-weight: 400;
$subtitle-color: $charcoal;

// -- mixins -------------------------------------------------------------------

@import "mixins";

// -- partials -----------------------------------------------------------------
//    import partials after defining vars/mixins so that they are available in
//    partials.

@import "box";
@import "color";
@import "fontface";
@import "footer";
@import "hero";
@import "navbar";

// -- common stuff -------------------------------------------------------------
//    stuff that is too early to over-engineer.

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-do-hyeon
}

p + p {
  margin-top: 1rem;
}

.is-family-do-hyeon {
  font-family: $family-do-hyeon;
}

.is-vcentered {
  align-items: center;
}

// progress customizations
// docs: https://bulma.io/documentation/elements/progress/
.progress.is-smallest {
  height: 0.25rem;
}

.columns.has-no-vmargin {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
