* {
  box-sizing: border-box;
}

html {
  font-size: calc(0.5em + 1vw);
}

html,
body {
  margin:0;
  height: 100%;
  font-weight: 500;
  font-family: 'HelveticaNeue', sans-serif;
  color: white;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 5.5rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

a {
  font-weight: 700;
  color: #ffefcc;
  position: relative;
}

a:hover {
  color: #e51d47;
}

a:active {
  top: 1px;
}

footer {
  padding: 1% 5%;
  text-align:center;

  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}

.intro {
  height: 90vh;
}

/* Text transformation */

.uppercase {
  text-transform: uppercase;
}

/* Palette */

/* $fire: #e51d47; */
/* $carbon: #2e2e3a; */
/* $hay: #ffefcc; */

.color-fire {
  color: #e51d47;
}

.color-carbon {
  color: #2e2e3a;
}

.color-hay {
  color: #ffefcc;
}

.background-fire {
  background: #e51d47;
}

.background-carbon {
  background: #2e2e3a;
}

.color-fire {
  color: #e51d47;
}

/* Text columns */

section {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
}

@media (max-width: 800px) {
  .content {
    display: block;
  }
}

.content .column {
  align-self: baseline;
  flex-grow: 1;
  flex-basis: 0;
  margin: 1vw;
}

/* Fullscreen video */

section.fullscreen-bg {
  position: relative;
  z-index: 0;
}

.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* Components */

#intro-title {
  margin: 0;
}

#intro-subtitle {
  margin: 0;
}

#intro-abstract {
  margin-top: 4vh;
  width: 40%;
}

@media (max-width: 800px) {
  #intro-abstract {
    width: 100%;
  }
}
