{{ define "main" }}
<section class="hero is-fullheight-with-navbar is-almost-fullheight is-relative">
  <div class="hero-video is-block">
    <img src="bonfire.gif" alt="a big-ass bonfire"/>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns m-5">
        <div class="column">
        <div class="column is-three-quarters">
          <h2 class="subtitle has-text-fire is-size-3 is-size-4-touch">
            assembling a decentralized tribe.
          </h2>
          <div class="has-mix-blend-difference has-text-white is-size-5 is-size-6-mobile">
            <p class="mb-4">
              I know not why so we gather, why we keep these flames alight.<br/>
              Chasing Truth, we found but darkness, yet here shadows we could spy.<br/>
              Then tales telling of becoming, and our pasts became undone.<br/>
              And once journeys intersected, now our futures braid as one.
            </p>
            <p class="mb-4">
              I, alone in paradoxes, perhaps doubtful, may get lost.<br/>
              Going nowhere, certain motion, odd horizons lure my course.<br/>
              Caring for companions truly, mirrors in them I may find.<br/>
              And reflecting on our nature, dreams on Earth we'll realize.
            </p>
            <p class="mb-4">
              Artifacts of human hubris, Hell and Heaven will create.<br/>
              Godlike tools have sure bred demons but their evil can be tamed.<br/>
              Magick arts to be remembered from the unconscious once again.<br/>
              Unconditional condition. Sacrificial sacrament.
            <p class="mb-4">
              Hey you, seeker, riding chaos, come next <span class="has-text-weight-semibold">Tuesday</span>.<br/>
              We'll conspire.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-almost-fullheight has-background-charcoal has-text-white">
  <div class="container is-flex is-align-items-center">
    <div class="columns is-variable is-8 m-5">
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">storytelling.</h2>
        <p>
          Reclaiming authorship is an act of personal liberation. The narratives that we hold in mind about ourselves, each other and the world shape our understanding of reality. Consciously weaving new individual, collective and cosmic mythologies allows us to participate in meaningful, alternative realities, attuned both to our human nature and technical capabilities.
        </p>
      </div>
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">placemaking.</h2>
        <p>
          Transforming the environment is an exercise of power. The material conditions of our existence constrain the stories that we can imagine and believe. Intentionally configuring the physical and digital spaces that we inhabit and our experiences in them transports us, and others with us, into increasingly tangible fictions.
        </p>
      </div>
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">self-organization.</h1>
        <p>
          Taking part in a collective fiction is at odds with the individual. The power that we exercise supports and, at the same time, restrains each other's freedom. Curiously inquiring and honestly disclosing our intersubjective perspectives enables us to work together towards coherent futures where we take care of each other and realize our wildest imaginations.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-fullheight is-almost-fullheight has-background-fire has-text-white">
  <div class="container is-flex is-align-items-center">
    <div class="columns is-variable is-8 m-5">
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">survive.</h2>
        <p>
          The bonfire survives through <span>radical self-reliance</span>. Its members must create tangible value to provide for themselves, the community and beyond.
        </p>
      </div>
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">thrive.</h2>
        <p>
          We flourish on our creations and <span>share our abundance externally</span>. To achieve this, we study cryptoeconomics and explore value creation mechanisms such as gifting.
        </p>
      </div>
      <div class="column">
        <h2 class="is-size-3 is-size-4-touch">transcend.</h2>
        <p>
          As self-aware artisans, we praise our legacy but we also hack upon it. We leverage consensus algorithms and new forms of association, such as Decentralized Autonomous Organizations, to propel us into the future using a legacy launchpad.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="hero is-fullheight is-almost-fullheight">
  <div class="container is-flex is-align-items-center">
    <div class="columns">
      <div class="column has-text-centered">
        <div id="mailto">
          <h2 class="has-text-fire is-size-3 is-size-4-touch">Know more</h2>
          <a href="mailto:notacult@bonfire.link" class="is-size-4 is-size-5-touch">
            notacult@bonfire.link
          </a>
        </div>

        <div class="hero-separator has-background-fire"></div>

        <div id="qr-container">
          <h2 class="has-text-fire is-size-3 is-size-4-touch">
            Keep the fire burning
          </h2>
          <a href="https://etherscan.io/address/0xdb0c0788d93177d449279b827e491e853aa735a8" target="_blank">
            <img src="aragon-dao.svg" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
