@import "common.scss";
@import "~bulma/bulma";

.has-mix-blend-difference {
  mix-blend-mode: difference;
}

#qr-container{
  h2 {
    margin-bottom: 2rem;
  }

  img {
    height: 17vh;
    width: 17vh;
  }
}

// specifity fixes
.hero .subtitle {
  color: $fire;
}
